<div class="main-container" id="main">
    <div class="" style="background: #F4F4F4;">
        <app-reserve-list
        [sendRentalList]="rentalList"
        (selectedRental)="onEdit($event)"
        ></app-reserve-list>
    </div>
    <!-- <div class="col">
        <app-reserve-add
            [sendCarList]="carList"
        ></app-reserve-add>
    </div> -->  
    <!-- <div clss="col" *ngIf="editing">
        <app-reserve-detail
            [sendRentalInfo]="selectedRentalInfo"
            [sendCarList]="carList"
            (editStatus)="editComplete($event)"
        ></app-reserve-detail>
    </div> -->
</div>