
<!-- View/Rent Side Panel -->
<div class="item-view" id="item-view" style="z-index: 0;background: none;width: 100%;position:absolute;top:0;left:0;bottom:0;right:0;height:120%;overflow: hidden;display: flex;">
		
  <!-- Transparent div -->
  <div (click)="onRentCancel()" style="background:white;opacity: 0.6;width: 100%;height: 100%;">

  </div>

  <!-- Details -->
  <div style="background:white;width: 350px;height: 100%;border: 1px solid #DBDBDB;z-index: 5;">
    <div style="background: #323232;text-align: center;margin: auto;">

      <!-- Sedan Image -->
      <img *ngIf="f.cType.value == 'Sedan'" src="../../assets/images/sedan.svg" />

      <!-- SUV Image -->
      <img *ngIf="f.cType.value == 'SUV'" src="../../assets/images/suv.svg" />

      <!-- Minivan Image -->
      <img *ngIf="f.cType.value == 'Minivan'" src="../../assets/images/minivan.svg" />

      <!-- Hatchback Image -->
      <img *ngIf="f.cType.value == 'Hatchback'" src="../../assets/images/hatchback.svg" />

      <!-- Pickup Image -->
      <img *ngIf="f.cType.value == 'Pickup'" src="../../assets/images/pickuptruck.svg" />

    </div>

    <div style="padding: 10px;">

      <!-- Title -->
      <div style="font-weight: bold;font-size: 1.3rem;background: none;">
        <p>{{f.cModel.value}}</p>
      </div>

      <!-- Tags -->
      <div>
        <span id="addMarginRight" style="margin-right: 15px"
        ><i class="bi bi-tag-fill" style="margin-right: 5px"></i
        >{{ f.cBrand.value }}</span>
    
      <!-- Category Tag -->
        <span id="addMarginRight" style="margin-right: 15px"
        ><i class="bi bi-truck" style="margin-right: 5px"></i
        >{{ car.type }}</span>
        
      <!-- Transmission Tag -->
        <span id="addMarginRight" style="margin-right: 15px"
        ><i class="bi bi-pin-map-fill" style="margin-right: 5px"></i
        >{{ car.transmission }}</span>
      </div>

      <!-- Car Details -->
      <div>
        <!-- Heading Label -->
        <div style="font-weight: bold;font-size: 1.25rem;margin: 10px 0;">Car Details</div>

        <!-- Brand -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Brand</div>
          <div style="flex: 50%;text-align: right;">{{f.cBrand.value}}</div>
        </div>

        <!-- Model -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Model</div>
          <div style="flex: 50%;text-align: right;">{{f.cModel.value}}</div>
        </div>

        <!-- Category -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Category</div>
          <div style="flex: 50%;text-align: right;">{{f.cType.value}}</div>
        </div>

        <!-- Transmission -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Transmission</div>
          <div style="flex: 50%;text-align: right;">{{f.cTransmission.value}}</div>
        </div>

        <!-- Seat Load -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Seat Load</div>
          <div style="flex: 50%;text-align: right;">{{f.cSeats.value}}</div>
        </div>
      </div>

      <!-- Renter's Details -->
      <div>
        <!-- Heading Label -->
        <div style="font-weight: bold;font-size: 1.25rem;margin: 10px 0;">Renter's Details</div>

        <!-- Name -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Name</div>
          <div style="flex: 50%;text-align: right;">{{f.uFirstName.value + " " + f.uLastName.value}}</div>
        </div>

        <!-- Address -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Address</div>
          <div style="flex: 50%;text-align: right;">{{f.uAddress.value}}</div>
        </div>

        <!-- Email -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Email</div>
          <div style="flex: 50%;text-align: right;">{{f.uEmail.value}}</div>
        </div>

        <!-- Phone -->
        <div style="width: 100%;display: flex;margin: 5px 0;">
          <div>Phone</div>
          <div style="flex: 50%;text-align: right;">{{f.uContactNum.value}}</div>
        </div>
      </div>

      <!-- Booking Details -->
      <div>
        <!-- Date -->
        <div style="font-weight: bold;font-size: 1.25rem;margin: 10px 0;">Rent Date</div>
        <div>
          
          <form id="rentForm" [formGroup]="rentForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="date" style="font-weight:normal">Start Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="rStartDate"
                    formControlName="rStartDate"
                  />
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label for="date" style="font-weight:normal">End Date</label>
                  <input
                    type="date"
                    class="form-control"
                    name="rEndDate"
                    formControlName="rEndDate"
                  />
                </div>
              </div>
            </div>
          </form>

          <button style="width: 100%;background: #004369;color: white;border: none;outline: none;margin-top: 20px;" form="rentForm" id="buttonBox1">
            Rent
          </button>
          

        </div>
        
      </div>


    </div>
    
  </div>

</div>
