<div class="main-container" id="main">
    <div class="main">
        <img class="bgimg" src="../../../assets/images/landing_page.svg" alt="landing page image"/>
    </div>
    <div class="action-container" style="height: auto;">
        <div class="action-heading-label">
            <b>One Stop Platform<br />
                <span class="action-sub-heading-label">For Renting Cars Online</span></b>
        </div>
        <div class="action-description-label">
            Hop in to modern day cars for your travel needs<br />
            wherever and whenever you want with just a click.
        </div>
        <br />
        <br />
        <a class="action-button" routerLink = "registration">Get Started!</a>
    </div>
</div>
