<div class="main-container" id="main">
    <div class="" style="background: #F4F4F4;">
        <app-view-car-list
             [sendHistoryList]="historyList"
             [sendUserInfo]="userList[userIndex]"
             (selectedHistory)="onDetail($event)"
        ></app-view-car-list>
    </div>
    <div *ngIf="detail">
        <app-view-detail
            [sendHistoryDetail]="selectedRentalHistory"
            [sendHistoryList]="historyList"
            [sendCarList]="carList"
            [sendUserInfo]="userList[userIndex]"
            (detailStatus)="detailComplete($event)"
            (closeDetail)="onCloseDetail($event)"
        ></app-view-detail>
    </div>
   
</div>