<div class="container">
    <div class="col-9">
        <app-view-car-list
             [sendHistoryList]="historyList"
             [sendUserInfo]="userList[userIndex]"
             (selectedHistory)="onDetail($event)"
        ></app-view-car-list>
    </div>
    <div *ngIf="detail">
        <app-view-detail
            [sendHistoryDetail]="selectedRentalHistory"
            [sendHistoryList]="historyList"
            [sendCarList]="carList"
            [sendUserInfo]="userList[userIndex]"
            (detailStatus)="detailComplete($event)"
        ></app-view-detail>
    </div>
   
</div>