<div class="main-container" id="main">
    <div class="" style="background: #F4F4F4;">
        <app-view-rentals-list
             [sendRentalList]="rentalList"
             [sendCarList]="carList"
             [sendUserInfo]="userList[userIndex]"
             (selectedRental)="onDetail($event)"
             [sendHistoryList]="historyList"
        ></app-view-rentals-list>
    </div>
    <div *ngIf="detail">
        <app-view-rental-detail
            [sendRentalDetail]="selectedRentalDetail"
            [sendRentalList]="rentalList"
            [sendCarList]="carList"
            [sendUserInfo]="userList[userIndex]"
            (detailStatus)="detailComplete($event)"
        ></app-view-rental-detail>
    </div>
</div>