<!-- <div class="container">
    <div class="card">   
        <h2 class="card-header">Edit Car</h2>
        <div class="card-body">
            <form [formGroup]="editCarForm" (ngSubmit)="onSubmit()" id="editCarForm">
                <div class="form-group">
                    <label for="cmodel">Car Model</label>
                    <input
                    type="text"
                    class="form-control"
                    name="cmodel"
                    formControlName="cmodel"
                    [ngClass]="{ 'is-invalid': f.cmodel.dirty && f.cmodel.errors }"/>
                    <div *ngIf="f.cmodel.dirty && f.cmodel.errors" class="invalid-feedback">
                        <div *ngIf="f.cmodel.dirty && f.cmodel.errors.required">Car Model is required</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="cbrand">Car Brand</label>
                            <div>
                                <input
                                type="radio"
                                value="Toyota"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Toyota">Toyota</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Mitsubishi"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Mitsubishi">Mitsubishi</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Nissan"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Nissan">Nissan</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Honda"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Honda">Honda</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Hyundai"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Hyundai">Hyundai</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="KIA"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="KIA">KIA</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Isuzu"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Isuzu">Isuzu</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Ford"
                                name="cbrand"
                                formControlName="cbrand"/>
                                <label for="Ford">Ford</label>
                                <div *ngIf="f.cbrand.dirty && f.cbrand.errors" class="invalid-feedback">
                                    <div *ngIf="f.cbrand.dirty && f.cbrand.errors.required">Car Brand is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ctype">Vehicle Type</label>
                            <div>
                                <input
                                type="radio"
                                value="Sedan"
                                name="ctype"
                                formControlName="ctype"/>
                                <label for="sedan">Sedan</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="SUV"
                                name="ctype"
                                formControlName="ctype"/>
                                <label for="sedan">SUV</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Minivan"
                                name="ctype"
                                formControlName="ctype"/>
                                <label for="minivan">Minivan</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Pickup"
                                name="ctype"
                                formControlName="ctype"/>
                                <label for="pickup">Pickup Truck</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Hatchback"
                                name="ctype"
                                formControlName="ctype"/>
                                <label for="hatchback">Hatchback</label>
                                <div *ngIf="f.ctype.dirty && f.ctype.errors" class="invalid-feedback">
                                    <div *ngIf="f.ctype.dirty && f.ctype.errors.required">Transmission is required</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="transmission">Transmission</label>
                            <div>
                                <input
                                type="radio"
                                value="Manual"
                                name="transmission"
                                formControlName="transmission"/>
                                <label for="manual">Manual</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="Automatic"
                                name="transmission"
                                formControlName="transmission"/>
                                <label for="automatic">Automatic</label>
                                <div *ngIf="f.transmission.dirty && f.transmission.errors" class="invalid-feedback">
                                    <div *ngIf="f.transmission.dirty && f.transmission.errors.required">Transmission is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="seats">Number of Seats</label>
                            <div>
                                <input
                                type="radio"
                                value="2"
                                name="seats"
                                formControlName="seats"/>
                                <label for="twoseats">2 - Seater</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="4"
                                name="seats"
                                formControlName="seats"/>
                                <label for="fourseats">4 - Seater</label>
                            </div>
                            <div>
                                <input
                                type="radio"
                                value="7"
                                name="seats"
                                formControlName="seats"/>
                                <label for="sevenseats">7 - Seater</label>
                                <div *ngIf="f.seats.dirty && f.seats.errors" class="invalid-feedback">
                                    <div *ngIf="f.seats.dirty && f.seats.errors.required">Number of seats is required</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <button class="btn btn-dark" form="editCarForm" id="carsEditButtonBox1" [disabled]="!editCarForm.valid">Edit</button>
            <button class="btn btn-light" id="carsEditButtonBox2" (click)="stopEditing()">Cancel</button>
            <hr>
            <div>
                <app-car-delete [sendCarID]="car.carID" (editStatus)="passEditStatus($event)"></app-car-delete>
            </div>
        </div>
    </div>
</div> -->



<!-- View/Rent Side Panel -->
<div class="item-view" id="item-view" style="z-index: 0;background: none;width: 100%;position:absolute;top:0;left:0;bottom:0;right:0;height:120%;overflow: hidden;display: flex;">
		
    <!-- Transparent div -->
    <div (click)="stopEditing()" style="background:white;opacity: 0.6;width: 100%;height: 100%;">
  
    </div>
  
    <!-- Details -->
    <div style="background:white;width: 350px;height: 100%;border: 1px solid #DBDBDB;z-index: 5;">
      <div style="background: #323232;text-align: center;margin: auto;">
  
        <!-- Sedan Image -->
        <img *ngIf="car.type == 'Sedan'" src="../../assets/images/sedan.svg" />
    
        <!-- SUV Image -->
        <img *ngIf="car.type == 'SUV'" src="../../assets/images/suv.svg" />

        <!-- Minivan Image -->
        <img *ngIf="car.type == 'Minivan'" src="../../assets/images/minivan.svg" />

        <!-- Hatchback Image -->
        <img *ngIf="car.type == 'Hatchback'" src="../../assets/images/hatchback.svg" />

        <!-- Pickup Image -->
        <img *ngIf="car.type == 'Pickup'" src="../../assets/images/pickuptruck.svg" />
  
      </div>
  
      <div style="padding: 20px;">

        <!-- Renter's Details -->
        <div>
          <!-- Heading Label -->
          <div style="font-weight: bold;font-size: 1.25rem;margin: 5px 0;">Edit Car Details</div>
  
        
          <form [formGroup]="editCarForm" (ngSubmit)="onSubmit()" id="editCarForm">
            <div class="form-group">
                <label for="cmodel" style="font-weight: bold;">Model Name</label>
                <input
                type="text"
                class="form-control"
                name="cmodel"
                formControlName="cmodel"
                [ngClass]="{ 'is-invalid': f.cmodel.dirty && f.cmodel.errors }"/>
                <div *ngIf="f.cmodel.dirty && f.cmodel.errors" class="invalid-feedback">
                    <div *ngIf="f.cmodel.dirty && f.cmodel.errors.required">Car Model is required</div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="cbrand" style="font-weight: bold;">Brand</label>
                        <div>
                            <input
                            type="radio"
                            value="Toyota"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Toyota">&nbsp;Toyota</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Mitsubishi"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Mitsubishi">&nbsp;Mitsubishi</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Nissan"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Nissan">&nbsp;Nissan</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Honda"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Honda">&nbsp;Honda</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Hyundai"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Hyundai">&nbsp;Hyundai</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="KIA"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="KIA">&nbsp;KIA</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Isuzu"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Isuzu">&nbsp;Isuzu</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Ford"
                            name="cbrand"
                            formControlName="cbrand"/>
                            <label for="Ford">&nbsp;Ford</label>
                            <div *ngIf="f.cbrand.dirty && f.cbrand.errors" class="invalid-feedback">
                                <div *ngIf="f.cbrand.dirty && f.cbrand.errors.required">Car Brand is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ctype" style="font-weight: bold;">Category</label>
                        <div>
                            <input
                            type="radio"
                            value="Sedan"
                            name="ctype"
                            formControlName="ctype"/>
                            <label for="sedan">&nbsp;Sedan</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="SUV"
                            name="ctype"
                            formControlName="ctype"/>
                            <label for="sedan">&nbsp;SUV</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Minivan"
                            name="ctype"
                            formControlName="ctype"/>
                            <label for="minivan">&nbsp;Minivan</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Pickup"
                            name="ctype"
                            formControlName="ctype"/>
                            <label for="pickup">&nbsp;Pickup Truck</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Hatchback"
                            name="ctype"
                            formControlName="ctype"/>
                            <label for="hatchback">&nbsp;Hatchback</label>
                            <div *ngIf="f.ctype.dirty && f.ctype.errors" class="invalid-feedback">
                                <div *ngIf="f.ctype.dirty && f.ctype.errors.required">Category is required</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-6">
                    <div class="form-group">
                        <label for="transmission" style="font-weight: bold;">Transmission</label>
                        <div>
                            <input
                            type="radio"
                            value="Manual"
                            name="transmission"
                            formControlName="transmission"/>
                            <label for="manual">&nbsp;Manual</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="Automatic"
                            name="transmission"
                            formControlName="transmission"/>
                            <label for="automatic">&nbsp;Automatic</label>
                            <div *ngIf="f.transmission.dirty && f.transmission.errors" class="invalid-feedback">
                                <div *ngIf="f.transmission.dirty && f.transmission.errors.required">Transmission Type is required</div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="seats" style="font-weight: bold;">No. of Seats</label>
                        <div>
                            <input
                            type="radio"
                            value="2"
                            name="seats"
                            formControlName="seats"/>
                            <label for="twoseats">&nbsp;2</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="4"
                            name="seats"
                            formControlName="seats"/>
                            <label for="fourseats">&nbsp;4</label>
                        </div>
                        <div>
                            <input
                            type="radio"
                            value="7"
                            name="seats"
                            formControlName="seats"/>
                            <label for="sevenseats">&nbsp;7</label>
                            <div *ngIf="f.seats.dirty && f.seats.errors" class="invalid-feedback">
                                <div *ngIf="f.seats.dirty && f.seats.errors.required">No. of seats is required</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <button class="" form="editCarForm" id="carsEditButtonBox1" style="font-weight: normal;width: 100%;padding: 12px 0;outline: none; background: #004369; color: #ffffff;border: none;" [disabled]="!editCarForm.valid">Edit</button>
        <br />
    
        <div>
            <app-car-delete [sendCarID]="car.carID" (editStatus)="passEditStatus($event)" (click)="stopEditing()"></app-car-delete>
        </div>

        <button class="" id="carsEditButtonBox2" (click)="stopEditing()" style="margin-top: 10px;font-weight: normal;width: 100%;padding: 12px 0;outline: none; background: #ffffff; color: #004369;border: 1px solid #004369;">Cancel</button>
        <br />

        </div>
  
      </div>
      
    </div>
  
  </div>
  