
#userAddButtonBox1 {
    width: 125px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 0 0;
}

#userAddButtonBox2 {
    width: 100px;
    display:inline-block;
    margin-left: 0;
    margin: 0 10px 0 0;
}
