<!-- <div class="container">
    <div class="card">   
        <h2 class="card-header">Add Reservation</h2>
        <div class="card-body">
            <form [formGroup]="addReserveForm" (ngSubmit)="onSubmit()" id="addReserveForm">
                <div class="form-group">
                    <label for="userEmail">User Email</label>
                    <input
                    type="text"
                    class="form-control"
                    name="userEmail"
                    formControlName="userEmail"
                    [ngClass]="{ 'is-invalid': f.userEmail.errors && f.userEmail.dirty}"/>
                    <div *ngIf="f.userEmail.errors && f.userEmail.dirty" class="invalid-feedback">
                        <div *ngIf="f.userEmail.errors.required && f.userEmail.dirty">User Email is required</div>
                        <div *ngIf="f.userEmail.errors.email && f.userEmail.dirty">Use a valid email</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="selectedCar">Select Car</label>
                    <div>
                        <select formControlName="selectedCar" name="selectedCar">
                            <option disabled selected value style="display:none">Available Cars</option>
                            <option *ngFor="let car of availableCarList"[ngValue]="car.carID">{{car.model + " | " + car.brand + " | " + car.type + " | " + car.transmission + " | " + car.seats}}</option>
                        </select>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="selectedCar">Start Date</label>
                    <div>
                        <input
                        type="date"
                        name="rStartDate"
                        formControlName="rStartDate"/>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="selectedCar">End Date</label>
                    <div>
                        <input
                        type="date"
                        name="rEndDate"
                        formControlName="rEndDate"/>
                    </div>
                </div>

            </form>
            <button class="btn btn-dark" form="addReserveForm" id="userAddButtonBox1" >Add</button>
        </div>
    </div>
</div> -->



<!-- View/Rent Side Panel -->
<div class="item-view" id="item-view" style="z-index: 0;background: none;width: 100%;position:absolute;top:0;left:0;bottom:0;right:0;height:120%;overflow: hidden;display: flex;">
		
    <!-- Transparent div -->
    <div (click)="onAdd('false')" style="background:white;opacity: 0.6;width: 100%;height: 100%;">
  
    </div>
  
    <!-- Details -->
    <div style="background:white;width: 350px;height: 100%;border: 1px solid #DBDBDB;z-index: 5;">
      
  
        <!-- Sedan Image -->
        <!-- <img *ngIf="f.cType.value == 'Sedan'" src="../../assets/images/sedan.svg" /> -->
        <!-- Heading Label -->
        <br />
        <div style="font-weight: bold;font-size: 1.25rem;margin: 5px 0;text-align: center;">
            Add Car Details
        </div>
        <br />
     
      <div style="padding: 20px;">
        
        <form [formGroup]="addReserveForm" (ngSubmit)="onSubmit()" id="addReserveForm">
            <div class="form-group">
                <label for="userEmail">User Email</label>
                <input
                type="text"
                class="form-control"
                name="userEmail"
                formControlName="userEmail"
                [ngClass]="{ 'is-invalid': f.userEmail.errors && f.userEmail.dirty}"/>
                <div *ngIf="f.userEmail.errors && f.userEmail.dirty" class="invalid-feedback">
                    <div *ngIf="f.userEmail.errors.required && f.userEmail.dirty">User Email is required</div>
                    <div *ngIf="f.userEmail.errors.email && f.userEmail.dirty">Use a valid email</div>
                </div>
            </div>
            
            <div class="form-group">
                <label for="selectedCar">Select Car</label>
                <div>
                    <select formControlName="selectedCar" name="selectedCar" style="padding: 10px 0px;">
                        <option disabled selected value style="display:none">Choose a Car</option>
                        <option *ngFor="let car of availableCarList"[ngValue]="car.carID">{{car.model + " - " + car.transmission}}</option>
                    </select>
                </div>
            </div>

            <div style="display: flex;">
                <div class="form-group" style="background: none;">
                    <label for="selectedCar">Start Date</label>
                    <div>
                        <input
                        type="date"
                        name="rStartDate"
                        formControlName="rStartDate"/>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                <div class="form-group" style="background: none;">
                    <label for="selectedCar">End Date</label>
                    <div>
                        <input
                        type="date"
                        name="rEndDate"
                        formControlName="rEndDate"/>
                    </div>
                </div>
            </div>

        </form>
      
        <button class="" form="addReserveForm" id="userAddButtonBox1" style="font-weight: normal;width: 100%;padding: 12px 0;outline: none; background: #004369; color: #ffffff;border: none;" >Add</button>
        <br />
        <button class="" id="carsAddButtonBox2" (click)="onAdd('false')" style="font-weight: normal;width: 100%;padding: 12px 0;outline: none; background: #004369; color: #ffffff;border: none;margin-top: 10px;" >Cancel</button>
    </div>
      
    </div>
  
  </div>