<div class="container">
    <div class="card">

        <div class="card-header" style="text-align: center;background-color: #ffffff;border: none">
            <br />
            <h4><div class="branding-form" style="text-align: center;background-color: #ffffff;font-size: 1.5rem;">We Go R’nR</div></h4>
            <div>Sign in to your account</div>
            <br />
        </div>
        <div class="card-body px-5" style="padding-bottom: 4rem">
            <form [formGroup]="loginForm" id="loginForm">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input
                    type="text"
                    class="form-control"
                    name="email"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': f.email.dirty && f.email.errors }"/>
                    <div *ngIf="f.email.dirty && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.dirty && f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.dirty && f.email.errors.email">Must be a valid email</div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                    type="password"
                    class="form-control"
                    name="password"
                    formControlName="password"
                    [ngClass]="{ 'is-invalid': f.password.dirty && f.password.errors }"/>
                    <div *ngIf="f.password.dirty && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.dirty && f.password.errors.required">Password is required</div>
                    </div>
                </div>
            </form>
            <br />
            <br />
            <button type="submit" class="btn btn-dark" id="buttonBox1" form="loginForm" (click)="onSubmit()" style="padding: 10px 0;width: 100%;background: #004369">Sign In</button>
            <button class="btn btn-light" id="buttonBox2" routerLink="/registration" style="padding: 10px 0;width: 100%;border: 1px solid #D9D9D9;margin-top: 10px">Register</button>
        </div>
    </div>
</div>