<div class="container">
    <div class="row">

      <div>
        <button class="btn btn-dark" id="viewAllButton" (click)="displayAll()">
          View All
        </button>
      </div>

      <div class="col">
        <select class="filterBar" (change)="onChangeBrand($event)">
          <option disabled selected value style="display: none">Brand</option>
          <option value="Toyota">Toyota</option>
          <option value="Mitsubishi">Mitsubishi</option>
          <option value="Nissan">Nissan</option>
          <option value="Honda">Honda</option>
          <option value="Isuzu">Isuzu</option>
          <option value="Hyundai">Hyundai</option>
          <option value="KIA">KIA</option>
          <option value="Ford">Ford</option>
        </select>
        <select class="filterBar" (change)="onChangeType($event)">
          <option disabled selected value style="display: none">Type</option>
          <option value="Sedan">Sedan</option>
          <option value="SUV">SUV</option>
          <option value="Minivan">Minivan</option>
          <option value="Hatchback">Hatchback</option>
          <option value="Pickup Truck">Pickup Truck</option>
        </select>
        <select class="filterBar" (change)="onChangeTransmission($event)">
          <option disabled selected value style="display: none">
            Transmission
          </option>
          <option value="Manual">Manual</option>
          <option value="Automatic">Automatic</option>
        </select>
        <select class="filterBar" (change)="onChangeSeats($event)">
          <option disabled selected value style="display: none">
            No. of Seats
          </option>
          <option value="2">2 - Seater</option>
          <option value="4">4 - Seater</option>
          <option value="7">7 - Seater</option>   
        </select>
      </div>
    </div>
    
    <br />

    <div class="row">
      <div
        class="col-12 card"
        *ngFor="
          let car of displayList | paginate: { itemsPerPage: count, currentPage: p };
          index as i
        "
      >
        <div class="card-body">
          <div class="row justify-content-between"> 
            <div class="col-6">

              <h5 class="card-title">
                <img src="https://source.unsplash.com/user/c_v_r/250x250" alt="Car Item Image"><br />
                {{ car.model }}
                <span style="margin-left: 50px">
                  <i class="bi bi-people-fill"></i>
                  {{ car.seats }}
                </span>
              </h5>

              <p class="card-text">
                <span id="addMarginRight"
                  ><i class="bi bi-tag-fill" style="margin-right: 5px"></i
                  >{{ car.brand }}</span>

                <span id="addMarginRight"
                  ><i class="bi bi-truck" style="margin-right: 5px"></i
                  >{{ car.type }}</span>

                <span id="addMarginRight"
                  ><i class="bi bi-pin-map-fill" style="margin-right: 5px"></i
                  >{{ car.transmission }}</span>

                <br />
                <br />

              </p>
            </div>

            <div class="col-2">
              <button class="btn btn-dark" id="cardButtons" (click)="onRent(car.carID)">
                Rent
              </button>
            </div>

          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div style="margin: 50px;">
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </div>
  