<div class="container">   
    
    <div class="row">
        <div class="col-12 card"
                *ngFor="let rent of displayList | paginate: {itemsPerPage: count, currentPage: p } index as i;">
                <div class="card-body">
                    <div class="row justify-content-between">
                        <div class="col-8">   
                            <h5 class="card-title">
                                <span style="margin-right: 10px;">
                                    <i class="bi bi-truck"></i>
                                </span>
                                {{rent.carModel}}
                            </h5>
                            <p>
                                <span id="addMarginRight"><i class="bi bi-calendar-date-fill" style="margin-right: 5px;"></i>{{rent.rentStartDate}}</span>
                                <span id="addMarginRight">{{" | "}}</span><span class="addMarginRight">{{rent.rentEndDate}}</span>
                            </p>
                            <p class="card-text">
                                <span id="addMarginRight"><i class="bi bi-house-fill" style="margin-right: 5px;"></i>{{rent.address}}</span>
                            </p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-dark" id="cardButtons" (click)="onDetail(rent.rentalID)">Details</button>
                        </div>
                    </div>  
                </div>
        </div>
    </div>
    <div class="row">
        <div style="margin: 50px;">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
    
</div>
